extends layout.pug 

block script 
  script(src='../public/script.js')

block style 
  style 
    include ../public/style.css  

block body 
    section#introSection
       div#big Welcome To Patel Dance Academy 
       div#small Ignite Your Dancing Flame 
       div#vsmall Dance To Perfection
       div#vvsmall Dance & Shine
       
    section#missionSection 
      h2 Our Mission
      div#traditionalDance 
        div.card 
          h3 Traditional dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/traditional1.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Traditional dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/traditional2.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Traditional dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/traditional3.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Traditional dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/traditional4.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!      
      div#classicalDance 
        div.card
          h3 Classical dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/classical1.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Classical dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/classical2.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Classical dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/classical3.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Classical dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/classical4.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
      div#modernDance 
        div.card
          h3 Modern dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/modern1.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Modern dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/modern2.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Modern dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/modern3.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Modern dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/modern4.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        
    section#sponsorSection 
      h2 Our Sponsors
      div#sponsors 
        img(src="/public/image/sponsor1.png",alt="sponsor image")
        img(src="/public/image/sponsor2.png",alt="sponsor image")
        img(src="/public/image/sponsor3.png",alt="sponsor image")
        img(src="/public/image/sponsor4.png",alt="sponsor image")
        img(src="/public/image/sponsor5.png",alt="sponsor image")
