doctype html 
html 
  head 
    script(src="https://kit.fontawesome.com/ca22140bff.js" crossorigin="anonymous")
    title Patel Dance Academy
    style 
      include ../public/style.css 
  body 
    nav#navbar 
      ul 
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Class Info]
        li #[a(href="/") Services]
        li #[a(href="/") Contact Us]
    section#introSection
       div#big Welcome To Patel Dance Academy 
       div#small Ignite Your Dancing Flame 
       div#vsmall Dance To Perfection
       div#vvsmall Dance & Shine
       
    section#missionSection 
      h2 Our Mission
      div#traditionalDance 
        div.card 
          h3 Traditional dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/traditional1.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Traditional dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/traditional2.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Traditional dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/traditional3.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Traditional dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/traditional4.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!      
      div#classicalDance 
        div.card
          h3 Classical dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/classical1.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Classical dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/classical2.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Classical dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/classical3.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Classical dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/classical4.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
      div#modernDance 
        div.card
          h3 Modern dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/modern1.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Modern dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/modern2.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Modern dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/modern3.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        div.card
          h3 Modern dance perfection 
          div.card-box
            div.img-box 
              img(src="/public/image/modern4.jpg")
            div.img-content 
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et maxime, vero neque libero commodi fuga doloremque? Fuga error voluptatem obcaecati!
        
    section#sponsorSection 
      h2 Our Sponsors
      div#sponsors 
        img(src="/public/image/sponsor1.png",alt="sponsor image")
        img(src="/public/image/sponsor2.png",alt="sponsor image")
        img(src="/public/image/sponsor3.png",alt="sponsor image")
        img(src="/public/image/sponsor4.png",alt="sponsor image")
        img(src="/public/image/sponsor5.png",alt="sponsor image")

    footer#footer
      div.social-media-links
        a(href="https://www.facebook.com/" target="_blank")
          i(class="fab fa-facebook fa-4x")
        a(href="https://www.instagram.com/" target="_blank")
          i(class="fab fa-instagram fa-4x")
        a(href="https://www.twitter.com/" target="_blank")
          i(class="fab fa-twitter fa-4x")
      p Social Media-Links &copy; 2021 | All Rights Reserve
    script 
      include ../public/script.js 
