doctype html 
html 
  head 
    script(src="https://kit.fontawesome.com/ca22140bff.js" crossorigin="anonymous")
    title Patel Dance Academy
    block script 
    block style 
  body
    nav#navbar 
      ul 
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Class Info]
        li #[a(href="/") Services]
        li #[a(href="/contact") Contact Us] 
    block body 
    footer#footer
      div.social-media-links
        a(href="https://www.facebook.com/" target="_blank")
          i(class="fab fa-facebook fa-4x")
        a(href="https://www.instagram.com/" target="_blank")
          i(class="fab fa-instagram fa-4x")
        a(href="https://www.twitter.com/" target="_blank")
          i(class="fab fa-twitter fa-4x")
      p Social Media-Links &copy; 2021 | All Rights Reserve  